.links-list {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  position: absolute;
  top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);

  list-style: none;

  @media (max-width: @mobile-width) {
    flex-direction: column;
  }
}

.links-list__link {
  cursor: pointer;
}

.links-list__title {
  font-size: 60px;
  color: #f9f1e9;
	text-align: center;
  font-weight: bold;
  background: transparent;
  white-space: nowrap;

  @media (max-width: @mobile-width) {
    font-size: 40px;
  }
}
