* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;

  &--scrolloff {
    overflow: hidden;
  }
}

.links-list {
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  position: absolute;
  top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);

  list-style: none;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.links-list__link {
  cursor: pointer;
}

.links-list__title {
  font-size: 60px;
  color: #f9f1e9;
	text-align: center;
  font-weight: bold;
  background: transparent;
  white-space: nowrap;

  @media (max-width: 600px) {
    font-size: 40px;
  }
}
